# <center>  WEBSCRAPING </br>
#  <center>  Extraer información de sitios web</center>
### Se extrae información importante sobre los estados y ciudades de EEUU

### <center>Importar Librerias</center>

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os
import funciones

import warnings
warnings.filterwarnings("ignore")

__________

### <center>Extracción de datos</center>

Extracción de la información
Se define la URL de la página que contiene la tabla con la población de los los años a explorar.

Se puede ver que la tabla de interés se encuentra dentro de una etiqueta 'table', pero hay mas de una de estas etiquetas en toda la página, por lo tanto se debe iterar por todas las etiquetas 'table' que encuentre hasta encontrar un encabezado que contenga los Atributos

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# URL de la página Wikipedia
url = "https://es.wikipedia.org/wiki/Anexo:Ciudades_de_Estados_Unidos_por_poblaci%C3%B3n#Ciudades"

# Realizar la solicitud GET a la URL
response = requests.get(url)

# Verificar si la solicitud fue exitosa (código 200)
if response.status_code == 200:
    # Parsear el contenido HTML de la página
    soup = BeautifulSoup(response.text, 'html.parser')

    # Encontrar la tabla por la clase
    table = soup.find('table', {'class': 'sortable'})

    # Convertir la tabla HTML a un DataFrame
    df = pd.read_html(str(table))[0]

    # Mostrar el DataFrame
    print(df.head())
else:
    print("Error al cargar la página:", response.status_code)

   Ranking Ranking.1       Ciudad      Estado Población  (2020)  \
0        1     NY-01   Nueva York  Nueva York         8 988 326
1        2     CA-01  Los Ángeles  California         3 983 540
2        3     IL-01      Chicago    Illinois         2 746 388
3        4     TX-01      Houston       Texas         2 472 370
4        5     AZ-01      Phoenix     Arizona         1 681 687

  Densidad  (por milla cuadrada)
0                           5862
1                          30923
2                       11 841,8
3                          35015
4                          27978

In [4]:
df

,Ranking,Ranking.1,Ciudad,Estado,Población (2020),Densidad (por milla cuadrada)
0,1,NY-01,Nueva York,Nueva York,8 988 326,5862
1,2,CA-01,Los Ángeles,California,3 983 540,30923
2,3,IL-01,Chicago,Illinois,2 746 388,"11 841,8"
3,4,TX-01,Houston,Texas,2 472 370,35015
4,5,AZ-01,Phoenix,Arizona,1 681 687,27978
...,...,...,...,...,...,...
272,278,PA-04,Erie,Pensilvania,101 786,53345
273,279,IN-04,South Bend,Indiana,101 168,24403
274,280,CA-64,Daly City,California,101 123,13 195
275,281,CO-10,Centennial,Colorado,100 377,34948
276,282,CA-65,Temecula,California,100 097,33198

Esta tabla trae muchos datos, solo se necesita Ciudad y Estado

In [5]:
# Seleccionar solo las columnas 'Ciudad' y 'Estado' en el DataFrame original
df = df[['Ciudad', 'Estado']]

# Mostrar el DataFrame modificado
df

          Ciudad       Estado
0     Nueva York   Nueva York
1    Los Ángeles   California
2        Chicago     Illinois
3        Houston        Texas
4        Phoenix      Arizona
..           ...          ...
272         Erie  Pensilvania
273   South Bend      Indiana
274    Daly City   California
275   Centennial     Colorado
276     Temecula   California

[277 rows x 2 columns]

In [6]:

# Renombrar las columnas 'Ciudad' y 'Estado' a 'City' y 'State'
df.rename(columns={'Ciudad': 'City', 'Estado': 'State'}, inplace=True)
df

            City        State
0     Nueva York   Nueva York
1    Los Ángeles   California
2        Chicago     Illinois
3        Houston        Texas
4        Phoenix      Arizona
..           ...          ...
272         Erie  Pensilvania
273   South Bend      Indiana
274    Daly City   California
275   Centennial     Colorado
276     Temecula   California

[277 rows x 2 columns]

__________________

## <center> Se guarda el archivo

In [7]:
# Se construye la ruta completa al archivo CSV desde la ubicación del notebook
city = os.path.join('CSV', 'city.csv')

# Se guarda el DataFrame en el archivo CSV
df.to_csv(city, index=False, encoding='utf-8')

# Se emite un mensaje que se guardó
print(f'Se guardó el archivo {city}')

Se guardó el archivo CSV\city.csv